# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Legacy and Noise
Project 👾⚡ (1).txt
ARPspoofer/ARPspoofer.ino
ARPspoofer/ArpSpoofer2.0-beta-2024.ino
ARPspoofer/ArpSpoofer3.0-beta-2025.ino

# Arduino / IDE
*.pyc
.fuse_hidden*
.directory
.DS_Store

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
